@import 'variables.scss';
body{
    font-family: Nunito Sans;
    .v-main{
      padding: 0px !important;
    }
    //header
    header{
        background-color: transparent !important;
        z-index: 1 !important;
        position: absolute;
        top:0px;
        box-shadow: none !important;
        &.onScroll {
            background-color: black !important; 
        }
        h1{
          color:$first-color;
          i{
            margin-bottom: 10px;
          }
        }
        .nav-list{        
            .nav-btn{
                background-color: transparent !important;
                color: white;
                box-shadow: 0px 0px;
                &:active , &:hover{
                  color: $first-color;
                }
            }             
        }
        .nav-menu{
          display: none;
        }

        @media screen and (max-width: 760px) {
          .v-toolbar__content, .v-toolbar__extension {
              display: block !important;
              width: 100%;
              background-color: black;
              height: auto !important;
            }
            .nav-menu{
              background-color: black !important;
              color: white !important;
              float: right;
              top: -35px;
              display: block;
            }
            .nav-btn{
              display: inline-flex;
              margin: auto;
            }
             .hidden{
              display: none;
             }
             .small{
             }
    
          }
  
          
    }
    .v-menu__content{
      // top: 7% !important;
      .v-list-item{
          min-height: 25px;
          .small-list{
            font-size: 12px !important;
            background-color: transparent !important;
            box-shadow: none !important;
            padding: 0px !important;
            height: 25px !important;
          }
      }
    }
    //home
    .bg-hero{
        background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url("../img/bg-hero.jpg");
        background-position: center center;
        padding: 5rem 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        // position: absolute;
        // left: 0;
        // right: 0;
        // top: -64px;
        z-index: 0;    
        h1{
            color:white;
            font-size: 4rem;
            padding: 5% 1%;        
        }
        img{
            width: 100%;
            animation: loader 50s infinite;
        }
        @keyframes loader {
            0% {
              rotate: 0deg;
            }
            100% {
              rotate: 360deg;
            }
          }
          
    
    }
 
    //options card
    .options{
      padding: 1.5rem;
      max-height: 15 rem;
      .options-icon{
        color: $first-color;
        font-size: 4rem;
      }
      .options-h{
        margin: 5px 10px;
      }
      .options-text{
        padding: 5px 0px;
        margin: 0px 10px;
        
      }
    }

    //about us
    .about-text{
      margin: 20px 0px;
        h5{
          color: $first-color;
          font-family: 'Pacifico'!important;
          font-size: 23px;
          font-weight: lighter;
          position: relative;
          &::after{
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            top: 50%;
            left: 20%;
            background:$first-color;
          }
        }
        .h1-welcome{
            font-family: "Nunito", sans-serif;
            font-size: 35px;
            margin-bottom: 10px;
            .v-icon{
              color: $first-color;
              font-size: 2.5rem;
            }
          }
        .h1-num{
          display: inline-block;
          color: $first-color;
          font-size: 3rem; 
          position: relative;
          padding-left: 10px;      
          &::before{
            content: '';
            position: absolute;
            left: 0px;
            width: 4px;
            background-color: $first-color;
            height: 80%;
            top:10%;
          }     
        }
        .about-info{
          display: inline-block;
          margin-left: 10px;
          p{
            margin: 0px;
          }      
        }
       .v-btn{
          margin-top: 2.5rem;
       }

    }
    // tabs , menu
    .v-tabs-slider-wrapper{
       color: $first-color;
    }
    .tabstyle{
      overflow: hidden;
      border: 0px;
      padding: 0px;
      margin: 0px 15px;
      width: 25%;
      &:active{
        border: 0px;
      }  
      .v-icon{
        color: $first-color;
        font-size: 37px;
        width: 100%;
      }
      h4{
        color: black;
        span{
          color: #666565;
          font-size: 10px;
          display: block;
          text-align: left;
          margin-top: 5px;      
        }
      }
    }
    .tabitem{
      margin-top: 40px;
      img{
        width: 100%;
      }
      h2{
        border-bottom: 1px solid gainsboro;
        span{
          float: right;
          color: $first-color;
          font-size: 20px;
      
        }
      }
      p{
        color: #666565;
        font-size: 15px;
      }
    }
    .v-slide-group__wrapper{
      position: absolute;
      left: 20%;
      right: 20%;
      width: 60%;
      top: 0;
      bottom: 0;
      @media screen and (max-width: 700px) {
        position: relative;
        width: 100%;
        right: 0px;
        left: 0px;
      } 

    }

  .booking{
    margin-bottom: 20px;
    background-color: #0F172B !important;
    position: relative;
    z-index: 0;

    // vedio
    .video{
      background-image: url("../img/video.jpg");
      background-size: cover !important;
      width: 49%;
      margin: 0px;
      display: inline-block;  
      @media screen and (max-width:800px) {
        position: relative;
        width: 100%;
        display: block;
       } 
      .v-btn{
        text-align: center;
        margin: 45%;
        background-color: $first-color !important;
        border-radius: 50%;
        height: 60px !important;
        width: 50px !important;
        padding: 5px;
        box-shadow: 0 0 0 rgba(204,169,44, 0.5);
        animation: pulse 1.5s infinite;
        &:hover {
          animation: none;
        }
        @-webkit-keyframes pulse {
          0% {
            -webkit-box-shadow: 0 0 0 0 rgba(255, 77, 0, 0.806);
          }
          70% {
              -webkit-box-shadow: 0 0 0 10px rgba(234, 94, 19, 0.5);
          }
          100% {
              -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
          }
        }
        @keyframes pulse {
          0% {
            -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
            box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
          }
          70% {
              -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0.5);
              box-shadow: 0 0 0 10px rgba(204,169,44, 0);
          }
          100% {
              -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
              box-shadow: 0 0 0 0 rgba(204,169,44, 0);
          }
        }              
        .v-icon{
          font-size: 50px;
        }
      }
    }
    // booking form
    .booking-form{
      color: white;
      padding: 5px 30px;
      margin: 0px;
      width: 50%;
      display: inline-block;  
      position: absolute;
      top: 25px;  
      @media screen and (max-width:800px) {
        position: relative;
        width: 100%;
        display: block;
       } ;
       @media screen and (max-width: 1000px) and (min-width: 800px) {
        top:0px;
        padding: 0px 10px;
       } ;
       
      .v-text-field{
        input{
          background-color: white;
          padding: 10px;
        }
        label{
          color: black;
          font-size: 15px;
          padding:  3px 5px;
          z-index: 2;
        }
        .v-input__prepend-outer{
          background-color: white;
          margin: 0px;
          padding: 4px;
        }
      }  
      .v-select{
        .v-input__append-inner{
          background-color: white;
          margin: 0px;
          padding: 4px;
  
        }
        .v-select__selections{
          background-color: white;
          color: black;
        }
        .v-select__selection--comma {
          margin: 7px 4px 7px 10px;
        }      
      }    
      .v-textarea{
        textarea{
        background-color: white;
        }
      }
    }
  }
  .masterchefs{
    margin-bottom: 50px;
    .v-card{
      padding: 20px 20px 0px 20px;
      text-align: center;
      .v-image{
        border-radius: 50%;
        .v-image__image--cover{
          border-radius: 50%;
          transition: .5s;
        }
      }
      h3{
        padding: 5px;
      }
      .social{
        visibility: hidden;
        transition: .5s;
        .v-btn{
          padding: 0px;
          min-width: 10px;
          background-color: transparent;
          font-size: .5rem;
          box-shadow: 0px 0px;    
          .v-icon{
            color: white;
            background-color: $first-color;
            padding: 10px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;  
            margin: 0px 2px;    
            }
            &:hover{
              box-shadow: 0px 0px;    
            }
        }
      }
      &:hover{
        .social{
          visibility: visible;
        }
        .v-image{
          border-radius: 50%;
          .v-image__image--cover{
            transform: scale(1.1);
          }
        }
      }
    }
  }
   //slider 
  .slider-container{
    z-index: 0;
  }
  .slide-style{
    width: 30%;
    margin: 10px;
    @media screen and (max-width: 700px) {
      width: 45%;
    }
    .v-card{
        padding: 15px;
        text-align: left;
        .v-icon{
            color: orange;
            font-size: 3rem;
        }
        .details{
          display: inline-block;
          .v-image{
              border-radius: 50% !important;
              width: 60px !important;
              height: 60px !important;
          }
        }
        p{
            font-size: 15px;
            color:gray;
        }
        .details2{
          display: inline-block;
          line-height: 40px;
            h1{
              font-size: 20px;
              margin-bottom: 5px;
              padding: 5px;
            }
            p{
              padding: 0px 5px;
              line-height: 5px;
            }
        }
      }
    }
    .slider-pagination{
      position: relative !important;
      padding: 10px;
    }
    .slider-pagination-bullet{
      width: 20px !important;
      height: 20px !important;
    }
    .slider-pagination-bullet-active{
      background-color: orange !important;
    }
  //contact us
  .contact-title{
    font-size: 20px;
    color: $first-color;
    font-family: "Pacifico";
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-color: $first-color;
      width: 40px;
      height: 1px;
      top: 50%;
      right: 65%;
      }
    }
    .contact-info{
      margin: 7px 0px;
      .v-icon{
        color: $first-color ;
      }  
    }
  .contact-form{
    .v-text-field__slot{
      border: 1px solid gray;
    }
    .v-label{
      padding: 5px;
    }
    input{
      min-height: 45px;
    }
  }
  //footer
  .footer{
      padding: 60px 20px;
      background-color: #0F172B !important;
    .head-title{
      font-size: 25px;
      color: $first-color;
      font-family: "Pacifico";
    }
    .v-list{
      background-color: transparent;
      padding: 20px 0px;
      .v-list-item{
        max-height: 0px;
        min-height: 25px !important;
        .v-list-item__icon{
          margin: 0px;
          .v-icon{
            color: white;
          }
        }
        .v-btn{
          background-color: transparent;
          color: white;
          padding: 0px;
        }
      }
      .liststyle{
        color: white;
        overflow: visible;
        text-overflow: initial;
        white-space: unset;    
      }
    }
    .colorstyle{
      color: white;
    }
    .contact{
      margin: 15px 0px;
      padding: 0px;
  
    }
    .v-form{
      position: relative;
      .v-input__slot{
        background-color: white;
        height: 50px;
    
      }
      .v-label{
        padding: 0px 10px;
        font-size: 15px;
      }
      .v-btn{
        position: absolute;
        top: 20px;
        right: 10px;
        height: 35px;
        background-color: $first-color;
        color: white;
      }
    }
    //social
    .footer-social{
      .v-btn{
        padding: 5px;
        min-width: 25px;
        background-color: transparent;
        font-size: 1rem;
        color: white;
        margin: 5px;
        border: 1px solid white;
        border-radius: 50%;
        &:hover{
          background-color: $first-color;
        }        
      }
    }
  }
}

































