@import 'variables.scss';
body{
    font-family: Nunito Sans;
    .v-main{
      padding: 0px !important;
    }
    //header
    header{
        background-color: transparent !important;
        z-index: 1 !important;
        position: absolute;
        top:0px;
        box-shadow: none !important;
        &.onScroll {
            background-color: black !important; 
        }
        h1{
          color:$first-color;
          i{
            margin-bottom: 10px;
          }
        }
        .nav-list{        
            .nav-btn{
                background-color: transparent !important;
                color: white;
                &:active , &:hover{
                  color: $first-color;
                }
            }             
        }
        .nav-menu{
          display: none;
        }

        @media screen and (max-width: 760px) {
          .v-toolbar__content, .v-toolbar__extension {
              display: block !important;
              width: 100%;
              background-color: black;
              height: auto !important;
            }
            .nav-menu{
              background-color: black !important;
              color: white !important;
              float: right;
              top: -35px;
              display: block;
            }
            .nav-btn{
              display: block;
            }

    
          }
  
          
    }
    .v-menu__content{
      top: 7% !important;
      .v-list-item{
          min-height: 25px;
          .small-list{
            font-size: 12px !important;
            background-color: transparent !important;
            box-shadow: none !important;
            padding: 0px !important;
            height: 25px !important;
          }
      }
    }
    //home
    .bg-hero{
        background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url("../img/bg-hero.jpg");
        background-position: center center;
        padding: 5rem 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        // position: absolute;
        // left: 0;
        // right: 0;
        // top: -64px;
        z-index: 0;    
        h1{
            color:white;
            font-size: 4rem;
            padding: 5% 1%;        
        }
        img{
            width: 100%;
            animation: loader 50s infinite;
        }
        @keyframes loader {
            0% {
              rotate: 0deg;
            }
            100% {
              rotate: 360deg;
            }
          }
          
    
    }
 
    //options card
    .options{
      padding: 1.5rem;
      max-height: 15 rem;
      .options-icon{
        color: $first-color;
        font-size: 4rem;
      }
      .options-h{
        margin: 5px 10px;
      }
      .options-text{
        padding: 5px 0px;
        margin: 0px 10px;
        
      }
    }

    //about us
    .about-text{
        h5{
          color: $first-color;
          font-family: 'Pacifico'!important;
          font-size: 23px;
          font-weight: lighter;
          position: relative;
          &::after{
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            top: 50%;
            left: 20%;
            background:$first-color;
          }
        }
        .h1-welcome{
            font-family: "Nunito", sans-serif;
            font-size: 35px;
            margin-bottom: 10px;
            .v-icon{
              color: $first-color;
              font-size: 2.5rem;
            }
          }
        .h1-num{
          display: inline-block;
          color: $first-color;
          font-size: 3rem; 
          position: relative;
          padding-left: 10px;      
          &::before{
            content: '';
            position: absolute;
            left: 0px;
            width: 4px;
            background-color: $first-color;
            height: 80%;
            top:10%;
          }     
        }
        .about-info{
          display: inline-block;
          margin-left: 10px;
          p{
            margin: 0px;
          }      
        }
       .v-btn{
          margin-top: 2.5rem;
       }

    }
}