$first-color:#FEA116;
$second-color:#fff;

//general classes
.general-btn{
    background-color: $first-color !important;
    color: $second-color !important;
    padding: 5% !important;
    font-size: 15px !important;        

};
